<div class="container-fluid">
    <ul class="low-fluid">
        <% if user_sigined_in? %>
            <li class="col-4"><%= link_to "ログアウト", destroy_user_sesstion_path, method: :delete %></li>
        <% else %>
            <li class="col-4"><%= link_to "ログイン", new_user_sesstion_path %></li>
        <% end %>
        <li class="col-4"><%= link_to "新規登録", new_user_registration_path %></li>
    </ul>
</div>